<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body class="cuerpoDelMenu">
    <header class="headMenu">
      <div class="headMenu__nav">
        <nav>
          <ul>
            <li><a href="../index.html">Principal</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="mainDelMenu">
      <h2 class="subTitMenu">Menu</h2>

      <section class="sectMenu">
        <div class="imagenEntradas">
          <a href="../partesMenu/entradas.html">
            <img
              src="../img/Fotos de links principales/entradas.jpg"
              alt="imagen de Entradas"
              width="500"
              height="500"
            />
            <p class="pDelMenu">Entradas</p>
          </a>
        </div>

        <div class="imagenEnsaladas">
          <a href="../partesMenu/ensaldas.html">
            <img
              src="../img/Fotos de links principales/ensaladas.jpg"
              alt="imagen de Ensaladas"
              width="500"
              height="500"
            />
            <p class="pDelMenu">Ensaladas</p>
          </a>
        </div>
      </section>

      <section class="sectMenu2">
        <div class="imagenPastas">
          <a href="../partesMenu/pastas.html">
            <img
              src="../img/Fotos de links principales/PASTAS.jpg"
              alt="imagen de pastas"
              width="500"
              height="500"
            />
            <p class="pDelMenu">Pastas</p>
          </a>
        </div>

        <div class="imagenCarnes">
          <a href="../partesMenu/carnes.html">
            <img
              src="../img/Fotos de links principales/Carnes.jpg"
              alt="imagen de carnes"
              width="500"
              height="500"
            />
            <p class="pDelMenu">Carnes</p>
          </a>
        </div>
      </section>

      <section id="finalDeTabla">
        <table border="1" class="tablaPrimera">
          <tr class="prototipo">
            <th class="entre">Entradas</th>
            <th class="salad">Ensaladas</th>
            <th class="harina">Pastas</th>
            <th class="nerca">Carnes</th>
          </tr>

          <tr>
            <td class="entre">Empanadas</td>
            <td class="salad">Ens. de Queso Brie</td>
            <td class="harina">Canelones</td>
            <td class="nerca">Bife de Chorizo</td>
          </tr>

          <tr>
            <td class="entre">Langostinos Salteados</td>
            <td class="salad">Ens. De Espinaca con Miel</td>
            <td class="harina">Ñoquis de Espinaca</td>
            <td class="nerca">Pechuga Rellena</td>
          </tr>

          <tr>
            <td class="entre">Mollejas al Limon</td>
            <td class="salad">Ens. Caesar</td>
            <td class="harina">Ravioles de Calabaza</td>
            <td class="nerca">Salmon Rosado</td>
          </tr>
        </table>
      </section>
    </main>

    <footer id="pieDePagina">Copyrights Camada 16655 2021 Arpad</footer>
  </body>
</html>
