<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/style.css" />

    <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->
  </head>

  <body id="cuerpoDelStaff">
    <header class="headStaff">
      <div class="headStaff__nav">
        <nav>
          <ul>
            <li><a href="../index.html">Principal</a></li>
            <li><a href="./menu.html">Menu</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>

    
    <main id="mainDelStaff">
      
      <div class="fotoDelStaff"></div>

      <section class="sectionStaff">

      <h2 class="tituloStaff">Quienes Somos</h2>

      <p class="pDelStaff">
        Somos un grupo de cocineros, parrilleros, pasteleros, barmans,
        sommeliers, baristas y camareros; somos amantes del arte culinario,
        somos artistas gastronómicos, somos alquimistas de los sentidos. Somos
        creadores de experiencias, de anécdotas. Un desfile de aromas para el
        olfato, un espectáculo de colores para la vista y un concierto de gustos
        en los receptores del sabor, eso es lo que somos. Ya han pasado más de
        diez años desde la primera vez que “Al Alba” abrió sus puertas en el
        centro porteño, en el barrio de recoleta. Un pequeño emprendimiento que
        no pretendía más que proveer el espacio a dos grandes amigos para
        conmemorar sus destrezas, se terminó volviendo en una de las
        revelaciones gastronómicas argentinas más importantes del siglo XXI.
        Máximo Sandoval y Elpidio Perninski, dos exponentes de la cocina
        albiceleste, comenzaron sus aventuras cuando jóvenes bajo la tutela del
        ya fallecido, pero aun recordado, Ignacio “el perro” Ricardo (apodado
        así por su gran olfato), en el restaurante “La alcaldía” al final de
        avenida Rivadavia. Fue en esta santería donde ambos jóvenes aprendieron
        las técnicas básicas del arte cisoria, y el primer lugar donde pudieron
        expresarse artísticamente utilizando la materia prima como nave de sus
        dotes. 
      </p>
        <p class="pDelStaff">
        Han pasado más de 25 años desde aquel día. Como era de esperarse,
        ambos amigos no siempre compartieron la misma cocina. Durante estas
        décadas antes de reencontrarse cada cual siguió sus propias estrellas,
        visitaron, trabajaron y asesoraron un sinfín de emprendimientos
        gastronómicos, no solo en el país, pero también en el extranjero.
        Sandoval paso gran cantidad de tiempo en Europa, mientras que Perninski
        refino su arte en Dubai. Durante todo este tiempo los dos ilustres de
        los cortes finos conocieron una gran cantidad de profesionales que
        compartían su entusiasmo. Años después, al reencontrarse, surge esta
        idea de formar un espacio para amantes de la gastronomía, para aquellos
        que quieran formarse en el crisol de la cocina, y tambien para quienes
        quieran deleitarse en esta pequeña estructura donde poder desarrollar
        sus aventuras y compartir sus experiencias.
      </p>
    <section/>
    </main>
    <footer id="pieDePagina">Copyrights Camada 16655 2021 Arpad</footer>
  </body>
</html>
